body{
    background-color: hsl(30, 38%, 92%);
}

img{
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container{
    display: flex;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}

.texto{
    display: flex;
    font: unset;
}

.nome{
    font-size: xx-large;
    font-style: bold;
}